%h2
  Welcome!

%p
  This is an example on how to integrate the Zaypay API with the Zaypay gem in a Ruby on Rails site
= link_to 'Check out our super awesome products' , products_path, :id => 'products_index_button', :class => "btn btn-primary btn-large"